body {
    font-family: Helvetica;
  }
  .logo-placeholder {
    width: 6.5rem;
    height: 2rem;
    background-color: #0d28a6;
  }
  
  .img__car {
    width: 100%;
  }
  .img__our-services {
    width: 75%;
  }
  
  .img__carousel{
    width: 100%;
  }
  
  .offcanvas {
    max-width: 50%;
  }
  
  .padding--all {
    padding: 1.5rem 1rem;
  }
  
  .padding--hero {
    padding: 1.5rem 0 1.5rem 1rem;
  }
  
  .margin--carousel{
    margin: 1.5rem 1rem;
  }
  
  .navbar__color {
    background-color: #f1f3ff;
  }
  
  h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 3.375rem */
  }
  
  h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem; /* 150% */
  }
  
  h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
  }
  p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem; /* 142.857% */
  }
  
  .why-us__box {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-02, #d0d0d0);
  }
  
  .carousel__box {
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    background: #f1f3ff;
  
    /* Shadow/Low */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .cta-banner__box {
    padding: 4rem 3.5rem;
    border-radius: 0.8125rem;
    background: var(--primary-dark-blue-04, #0d28a6);
  }
  
  @media screen and (min-width: 992px) {
    .padding--all {
      padding: 1.5rem 8.5rem;
    }
  
    .padding--hero {
      padding: 1.5rem 0 1.5rem 1rem;
    }
    .img__car {
      width: 610px;
    }
    .img__our-services {
      width: 400px;
    }
    .why-us__box {
      width: 25%;
    }
  
    .carousel__box > div > img {
      width: 5rem;
    }
  
    .img__carousel{
      width: 100%;
    }
    .carousels-cell{
      width: 44%;
      margin-right: 2rem;
      height: 17rem;
    }
  
    .margin--carousel{
      margin: 0;
    }
    .carousels-cell::before{
      display: block;
    }
  }